Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
MySQL-python==1.2.4
PIL==1.1.7
PySide==1.2.2
PyYAML==3.11
Twisted==15.4.0
Werkzeug==0.10.4
awsebcli==3.5.4
botocore==1.2.5
cement==2.4.0
colorama==0.3.3
docker-py==1.1.0
dockerpty==0.3.4
docopt==0.6.2
docutils==0.12
itsdangerous==0.24
jmespath==0.8.0
mplayer.py==0.7.0
pathspec==0.3.3
pyHook==1.5.1
pyglet==1.2.2
python-dateutil==2.4.2
pywin32==219
requests==2.6.2
six==1.9.0
texttable==0.8.3
virtualenv==13.1.2
websocket-client==0.32.0
zope.interface==4.1.2
